<div id="menu3" class="offers">
  <div class="row">
    <div class="col-sm-12 col-md-12 ol-lg-12">
        <div class="table-responsive">
       <table class="table table-striped table_border">
      <thead class="bg-blue text_white">
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Question</th>
          <th>Answer</th>
          <th>Answer By </th>
          <th>Answer Date</th>
          <th>See Details</th>
         


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fullchatdetails; let i = index">
          <td>{{data.messagecode}} </td>
          <td>{{data.createddate}}</td>
          <td>{{data.question}}</td>
          <td>{{data.answer}}</td>
          <td>{{data.answeredbyname}}</td>
          <td>{{data.answerdate}}</td>

          <td class="delete"><i class="fa fa-search" routerLink="mychat/" aria-hidden="true"></i></td>

        </tr>
        
      </tbody>
  </table>
</div>
    </div>
  </div>
</div>