<app-navbar></app-navbar>
<div class="confirmation">
	<div class="main">
	    <div class="tick_logo tick">
	    	<img src="../assets/images/check.png" class="img-responsive" alt="tick">
	    </div>
	    <div class="row content-section">
	    	<h3>Registeration Completed.</h3>
	    	<h3>Activate your account via the confirmation email we have sent you</h3>
	    </div>
	    <div class="lower_logo logo">
	    	<img src="../../assets/aa.jpg" class="img-responsive" alt="logo">
	    </div>
   </div>
  
</div>